<!DOCTYPE html>
<html>
  <head>
    <title>PhotoUploader</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <header>
      <div>
        <%= link_to "Home", photos_path%>
      </div>
      <div>
        <%= link_to "Upload New Photo", new_photo_path%>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
